
body {
    font-family: 'Inter', serif, sans-serif;
    font-weight: 400;
}

.content-section {
    box-sizing: border-box;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.content-section_theme_dark {
    background-color:black;
    color:#FFF ;
}

.content-section_theme_bright {
    background-color: #FEE42A;
    color: #131313 ;
}

header {
    padding: 24px 20px 24px 20px;
}

.cover {
    padding-top: 7px;
    background-image: url(../images/cover.svg);
    background-size: 95% auto;
    min-height: 198px;
    background-position: 121% 68%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 24px;
    padding-bottom: 10px;
}

.cover__title {
    width: 100%;
    font-family: 'EB Garamond';
    font-size: 72px;
    font-weight: 400;
    line-height: 100%;
}

.accent-span {
    display: block;

}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.intro {
    padding: 30px 20px 37px 20px;
}

.intro__heading {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #CCC;
}

.intro__date {
    white-space: nowrap;
}

.intro__main-text {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 137%;
}

.indent {
    margin-top: 24px;
}

.reasons {
    padding: 40px 20px;
}

.content-section__subtitle {
    font-family: 'EB Garamond', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
}

.content-section__introduction {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.content-section__list-item {
    gap: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
}

.how-to {
    padding: 40px 20px 60px 20px;
}

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 30px;

}

.card_theme_dark {
    background-color: #343434;
}

.card_theme_bright {
     margin-top: 32px;
    margin-bottom: 32px;
    background-color: #FEE42A;
}

.card__author-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card__author-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 135%;
}

.card__title {
    font-family: 'EB Garamond', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 135%;
}

.card_title_bright {
    font-family: 'EB Garamond', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 135%;
    color: #131313;
}

.card__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
}

.card_text_bright {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    color:#131313;
}


footer {
    padding: 20px;
    border-top: 1px solid #FEE42A;
}

.footer__copy {
    display: flex;
    justify-content: space-between;
}


.social__networks {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.header_logo {
    width: 78px;
    height: 15px;
}

.navigation {
    list-style-type: none;
}

.header_menu {
    display: flex;
    width: 320px;
    justify-content: space-between;

}

.header_menu_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    color: #F5F5F5 ;
    font-size: 16px;
    line-height: 19px;
}

.underline {
    text-decoration: underline;
}

